// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

:root {
  --color-brand: #C5322E;

  --color-text-primary:   #181818;
  --color-text-secondary: #687385;

  --color-white:   #FFFFFF;
  --color-error:   #CC3C64;
  --color-success: #07815C;
  --color-border:  #ECECEC;

  --background-primary: #FFFFFF;
  --background-secondary: #F6F6F6;

  --background-hero: var(--background-secondary);
}